<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://e3di.org/screenplayer" version="1.0.0" viewmodes="fullscreen">
    <tizen:application id="tL8Q7Jz9K3.E3DiSign" package="tL8Q7Jz9K3" required_version="3.0"/>
    <content src="https://e3di.org/screen/ethree-65"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>E3Di Screen Player</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:setting screen-orientation="portrait" context-menu="disable" background-support="disable" encryption="disable" install-location="auto"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/screen/orientation" value="portrait"/>
    <access origin="*" subdomains="true"/>
</widget>
